@import "tailwindcss";

@theme {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-primary: #3B82F6;
  --color-toxic: #EF4444;
  --color-safe: #10B981;
}

@layer base {
  body {
    @apply bg-background text-slate-200 antialiased;
  }
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-surface; 
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
